:root{
	--main-color-bg: #2B417A;
	--main-color-txt: #F1FC70;
}

body{
	background: #DDDDDD;
	font-family: arial;
}

.cursor{
	cursor: pointer;
}

#myTable{
	 margin: 0 auto;
}

.bg-lightRed{
	background: #FFCCCB;
}

.center-y{
	display: flex;
	align-items: center;
}

.center-x{
	display: flex;
	justify-content: center;
}

.content-page{
	background: #fff;
	height: 100%;
	padding: 5px;
}

.error{
	color: red;
}